@import "font-awesome";

@import "general";

@import "header";
@import "navigation";

.pageContent {
  position: relative;
  height: 100%;

  .content {
    padding-bottom: 50px;
    width: 100%;
    min-height: 100%;
    color: #666666;
    background-color: #f5f5fa;
    display: inline-block;
  }
}

@import "analytics";
@import "news";